<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloService" class="muyi.tiny.service.impl.HelloServiceImpl">
        <property name="text" value="Hello xml !"/>
        <property name="outputService" ref="outputService"/>
    </bean>

    <bean id="outputService" class="muyi.tiny.service.impl.OutputServiceImpl">
        <property name="helloService" ref="helloService"/>
    </bean>

    <!--    <beans id="beanInitializeLogger" class="com.muyi.summer.stepbystep.BeanInitializeLogger"/>-->
</beans>